.dateConMain {
  margin-top: 50px;
  text-align: center;
}

.dateCon h1 {
  font-size: 24px;
  color: #fff;
}

.dateNum {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.dayButton {
  background: transparent;
  color: #9c9c9c;
  font-weight: bold;
  border: 1px solid #555;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.dayButton.active,
.dayButton:hover {
  background-color: #ff0000;
  color: #fff;
  border: none;
}
