@font-face {
  font-family: NEXA-Light;
  src: url(../../assets/fonts/NEXA-Light/NexaLight.ttf.eot),
    url(../../assets/fonts/NEXA-Light/NexaLight.ttf.svg),
    url(../../assets/fonts/NEXA-Light/NexaLight.ttf.woff),
    url(../../assets/fonts/NEXA-Light/webfonts.ffonts.net.htm),
    url(../../assets/fonts/NEXA-Light/webfonts.ffonts.net.txt);
}

.footerCont {
  width: 100vw;
  height: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.lineFoot2 {
  position: absolute;
  border-bottom: 1px solid rgb(145, 145, 145);
  width: 46%;
}

.lineFoot2.left {
  left: 0;
}

.lineFoot2.right {
  right: 0;
}

.topFooterCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footerLogo {
  display: flex;
  align-items: center;

  width: 70px;
  height: auto;
}

.footerLogosCont {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footerLogosImg {
  width: 55vw;
  margin-right: 20px;
}

.secondFootCont {
  background-color: #f4f4f4;
  width: 100vw;
  height: 400px;
}

.bottomFootCont {
  background-color: #e0e0e0;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottomFootCont p {
  font-family: NEXA-LIGHT;
  font-size: 14px;
}
