.footerCont {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "NEXA-Light", sans-serif;
}

.topFooterCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.footerLogo {
  width: 70px;
  height: auto;
}

.footerLogosCont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footerLogosImg {
  width: 70%;
  max-width: 900px; /* Prevents image from being too large */
  min-width: 300px; /* Prevents image from shrinking too much */
  height: auto;
}

.bottomFootCont {
  background-color: #e0e0e0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomFootCont p {
  font-family: NEXA-LIGHT;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footerLogo {
    width: 60px;
  }

  .footerLogosImg {
    width: 70%; /* Scales down */
    max-width: 400px;
  }

  .bottomFootCont p {
    font-size: 12px;
  }
  .topFooterCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .footerLogo {
    width: 50px;
  }

  .footerLogosImg {
    width: 120%; /* Scales down more */
    max-width: 100%;
  }

  .bottomFootCont p {
    font-size: 10px;
  }
}
