@font-face {
  font-family: OPTICirrus;
  src: url(../../assets/fonts/OPTICirrus-Medium/OPTICirrus-Medium.ttf.eot),
    url(../../assets/fonts/OPTICirrus-Medium/OPTICirrus-Medium.ttf.svg),
    url(../../assets/fonts/OPTICirrus-Medium/OPTICirrus-Medium.ttf.woff),
    url(../../assets/fonts/OPTICirrus-Medium/webfonts.ffonts.net.htm),
    url(../../assets/fonts/OPTICirrus-Medium/webfonts.ffonts.net.txt);
}

.frontBgCont {
  width: 100vw;
  position: relative;
  display: inline-block;
}

.BGimg {
  display: block;
  width: 100vw;
}
/* Big background image */

/* Container that holds FIGHT WITH WSL*/
.textContainer {
  font-family: "OPTICirrus", sans-serif;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translateY(-50%);
  color: white;

  line-height: 0.8;
  text-align: left;
}

.textContainer h1 {
  font-size: 150px;
  margin: 10px 0;
}

.redLine {
  z-index: -1;
  position: absolute;
  top: 19%;
  left: -10%;
  width: 400px;
  height: 20px;
  background-color: red;
}
