.navMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  color: white;
}

.logoTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 450px;
  padding-right: 80px;
  height: 100%;
  border-right: 1px solid rgb(45, 45, 45);
}

.logoNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.logoNav img {
  width: 70px;
  margin-left: 8px;
  margin-right: 15px;
}

.textCol {
  display: flex;
  flex-direction: column;
}

.textCol h1 {
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: white;
}

.textCol p {
  width: 100%;
  color: white;
}

.pagesNav {
  font-weight: 500;
  border-top: 1px solid rgb(45, 45, 45);
  padding-right: 300px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
/* 
.pagesNav {
  
  
  
} */
