@font-face {
  font-family: NEXA-Light;
  src: url(../../assets/fonts/NEXA-Light/NexaLight.ttf.eot),
    url(../../assets/fonts/NEXA-Light/NexaLight.ttf.svg),
    url(../../assets/fonts/NEXA-Light/NexaLight.ttf.woff),
    url(../../assets/fonts/NEXA-Light/webfonts.ffonts.net.htm),
    url(../../assets/fonts/NEXA-Light/webfonts.ffonts.net.txt);
}

.scoreCon {
  /* border: 3px solid white; */
  font-family: "NEXA-Light", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  max-width: 100vw;
  margin-top: 50px;

  color: white;
}

.matchCon {
  color: #9c9c9c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchCon p {
  font-weight: bold;
}

.matchNum {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 18px;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 450%;
}

.matchInfo p {
  color: #9c9c9c;
}

.matchScore {
  font-size: 130px;
  font-weight: bold;
}

.matchInfoCon {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.team1 {
  font-size: 40px;
  color: #9c9c9c;
}

.team2 {
  font-size: 40px;
  color: #9c9c9c;
}
